@model IEnumerable<WebStoreMap.Models.ViewModels.geodan.CityInformationViewModel>
@{
    ViewBag.Title = "Города";
}
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<section class="section-content">
    <div class="container container-content" style=" margin-bottom: 40px;min-height: 500px;">
        <div class="row">
            <div class="col-lg-4" id="addProductBlockMobile">
                <div class="card addProductCard">
                    <div class="card-body addProductCardBody">
                        <h5 class="card-title ">Добавление города</h5>
                        <p class="card-text">Чтобы добавить новый город, которого еще нет на сайте, создайте новую карточку города и заполните параметры. </p>
                        <center>@Html.ActionLink("Добавить новый город", "AddCity", new { RegionId = ViewBag.RegionId }, new { @class = "btn btn-add" })</center>
                        <center>@Html.ActionLink("Вернуться к регионам", "Regions", new { page = 1, RegionId = ViewBag.RegionId }, new { @class = "btn btn-add", style = "margin-top:25px;" })</center>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="allProductsCardBlock">
                    <div class="card allProductsCard">
                        <div class="card-header allProductsCardHeader" id="allProductsCardHeaderDesktop">
                            Города
                        </div>
                        <div class="card-header allProductsCardHeader" id="allProductsCardHeaderMobile">
                            Города
                        </div>
                    </div>
                    @foreach (var item in ViewBag.OnePageOfCityInfo)
                    {
                        <div class="card mb-3 allProductsCardItem">
                            <div class="row g-0">
                                <div class="col-md-4 " style="padding-left:0; padding-right:0">
                                    <a href="/moderator/Sections/EditCity/@item.CityId">
                                        @if (@item.ImageName == null)
                                        {
                                            <img src="/Content/img/no_image.png" style="width: 100%; height: 100%;" />
                                        }

                                        else

                                        {
                                            <img src="/Images/Uploads/Cities/@item.CityId/Thumbs/@item.ImageName" style="width: 100%; height: 100%;" />
                                        }
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="row" style="height:100%; margin-right: 0 !important; margin-left: 0;">
                                            <div class="col-sm-9 p-3 ">
                                                <h5 class="card-title CardOfProductTitle">@item.CityName</h5>
                                            </div>
                                            <div class="col-3 p-3 " id="editeDeliteBlockDesktop" style=" padding: 0px !important; ">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">@Html.ActionLink("Изменить", "EditCity", new { id = item.CityId }, new { @class = "btn btn-edit" })</li>

                                                    <li class="list-group-item">@Html.ActionLink("Удалить", "DeleteCity", new { id = item.CityId }, new { @class = "btn btn-delete " })</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-9 p-3" id="editeDeliteBlockMobile" style=" padding: 0px !important; ">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">@Html.ActionLink("Изменить", "EditCity", new { id = item.CityId }, new { @class = "btn btn-edit" })</li>

                                                    <li class="list-group-item">@Html.ActionLink("Удалить", "DeleteCity", new { id = item.CityId }, new { @class = "btn btn-delete " })</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4" id="addProductBlock">
                <div class="card addProductCard">
                    <div class="card-body addProductCardBody">
                        <h5 class="card-title ">Добавление города</h5>
                        <p class="card-text">Чтобы добавить новый город, которого еще нет на сайте, создайте новую карточку города и заполните параметры. </p>
                        <center>@Html.ActionLink("Добавить новый город", "AddCity", new { RegionId = ViewBag.RegionId }, new { @class = "btn btn-add" })</center>
                        <center> @Html.ActionLink("Вернуться к регионам", "Regions", new { page = 1, RegionId = ViewBag.RegionId }, new { @class = "btn btn-add", style = "margin-top:25px;" })</center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>@Html.PagedListPager((IPagedList)ViewBag.OnePageOfCityInfo, page => Url.Action("Cities", new { page, ViewBag.CityId }))</center>
</section>

@section Scripts
{

    <script>
        $(function () {

            /*-----------------------------------------------------------*/

            /* Confirm page deletion */

            $("a.delete").click(function () {
                if (!confirm("Подтвердите удаление страницы")) return false;
            });

            /*-----------------------------------------------------------*/
        });
    </script>
}

}
