@model IEnumerable<WebStoreMap.Models.ViewModels.Desired.DesiredViewModel>

@{ ViewBag.Title = "Cart Details";}

@if (Model == null)
{
<section class="section-massage">
    <div class="container section-massage__container">
        <h1 class="section-massage__infobig">Корзина пуста</h1>
    </div>
</section>
}
else
{
<section class="h-100 h-custom">
    <div class="container desired-container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card desired-card">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0" style="color:#162b32;">Корзина</h1>
                                    </div>
                                    <hr class="my-4">
                                    @foreach (var item in Model)
                                        {
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2  desired-card-body-item">
                                            <a href="/shop/product-details/@item.PlaceSlug">
                                                @if (item.Image != null)
                                                        {
                                                <img src="/Images/Uploads/Products/@item.PlaceId/Thumbs/@item.Image" class="img-fluid rounded-3" /> }
                                                        else
                                                        {
                                                <img src="/Content/img/no_image_big.png" class="img-fluid rounded-3">}
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3 desired-card-body-item">
                                            <h6 class="mb-0" style="color:#162b32;">@Html.DisplayFor(modelItem => item.ProductName)</h6>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex desired-card-body-item">
                                            <center><a type="button" href="#" class="incproduct btn btn-success inc-dec" data-id="@item.ProductId"><i class="fa-solid fa-plus"></i></a></center>
                                            <div style="text-align: center;">
                                                <div class="qty@(item.ProductId)" style="color:#162b32; margin-top: 15%;margin-right: 10px;margin-left: 10px;">
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                </div>
                                            </div>
                                            <center><a type="button" href="#" class="decproduct btn btn-success inc-dec" data-id="@item.ProductId"><i class="fa-solid fa-minus"></i></a></center>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex desired-card-body-item">
                                            <h6 class="total@(item.ProductId) mb-0" style="color:#162b32;"> @Html.DisplayFor(modelItem => item.Total) ₽</h6>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex desired-card-body-item">
                                            <a href="#" class="btn btn-danger removeproduct" data-id="@item.ProductId">

                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="my-4">
                                        }
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey desired-card-body-summary">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Итог</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Расчетная стоимость</h5>
                                        <h5 class="grandtotal">@ViewBag.GrandTotal₽</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}

@section scripts
{
    <script src="~/Content/MyScripts/IncrementProductScript.js"></script>
}