@model  IEnumerable<WebStoreMap.Models.Data.PlaceDataTransferObject>


@*@if (ViewBag.PlacesList.Count == 0)
{
    <div style="height:300px; padding:90px;">@ViewBag.IsThisExist</div>
}
else
{
    foreach (var item in ViewBag.PlacesList)
    {
<div class="col-sm-3">
    <div class="listing-item">
        @if (Request.IsAuthenticated)
        {
            if (item.IsThisInFavorites == true)
            {
                <a class="category-icon icon-dinner addtocart-heart active" id=@item.Id>
                    <i class="fa-solid fa-heart"></i>
                </a>

            }
            else
            {
                <a class="category-icon icon-dinner addtocart-heart" id=@item.Id>
                    <i class="fa-solid fa-heart"></i>
                </a>
            }
        }
        @if (!Double.IsNaN(item.RaitingOfPlace))
        {
            <div class="listing-item-rating">@item.RaitingOfPlace</div>
        }
        <a href="/place/Place-details/@item.Slug" class="listing-item-link" style="width: 300px; height: 300px;">
            <div class="listing-item-title-centralizer">
                <div class="listing-item-title" style=" font-size: 15px !important;">
                    @item.PlaceName
                    <div class="ribbon">
                        ~ @String.Format("{0:N0}", item.Price).Replace(",", " ")₽
                        @if ((item.OldPrice != 0.00m) && (item.OldPrice > item.Price))
                        {
                            <del>  @String.Format("{0:N0}", item.OldPrice).Replace(",", " ")₽</del>
                        }
                    </div>
                </div>
            </div>
            @if (item.ImageName != null)
            {
                <img alt="" src="/Images/Uploads/Places/@item.Id/Thumbs/@item.ImageName" style=" width: 100%; height:100%;">
            }
            else
            {
                <img alt="" src="/Content/img/no_image_big.png" style=" width: 100%; height:100%;">
            }

            <div class="listing-black-overlay"></div>
        </a>
        <div class="listing-item-data">
            <a class="listing-item-address" href="/place/Place-details/@item.Slug">  @item.Address </a>
            <div class="listing-item-excerpt"> Краткое описание </div>
        </div>
    </div>
</div>
    }
}*@




    <div class="row">
        @foreach (var item in ViewBag.PlacesList)
        {
       <div class="col-4">
           <div class="place-inner" data-id="2433" data-location="Bistro" data-lat="40.711300455427" data-lng="-74.005143830954">
               <div class="place-inner-top">

                   @if (Request.IsAuthenticated)
                   {
                       if (item.IsThisInFavorites == true)
                       {
                           <span class="add-in-favorite-place active" id=@item.Id>
                               <i class="fa fa-heart-o"></i>
                           </span>

                       }
                       else
                       {
                           <span class="add-in-favorite-place" id=@item.Id>
                               <i class="fa fa-heart-o"></i>
                           </span>
                       }
                   }
                   <a href="">
                       @if (item.ImageName != null)
                       {
                           <img src="/Images/Uploads/Places/@item.Id/Thumbs/@item.ImageName" class="" alt="">
                       }
                       else
                       {
                           <img alt="" src="/Content/img/no_image_big.png" style=" width: 100%; height:100%;">
                           <img src="/Content/img/no_image_big.png" class="" alt="">
                       }
                   </a>
               </div>
               <div class="place-inner-center">
                   <span class="place-inner-category">@item.CategoryName</span>
                   <a class="place-inner-title" href="">@item.PlaceName</a>
                   <div class="place-inner-description">@item.Description</div>
                   <div class="place-inner-contact-info">
                       <span class="place-inner-address">
                           <i class="fa-solid fa-location-dot" aria-hidden="true"></i>@item.Address
                       </span>
                       <span class="place-inner-phone">
                           <i class="fa-solid fa-phone" aria-hidden="true"></i>@item.PhoneNumber
                       </span>
                   </div>
               </div>
               <div class="place-inner-bottom">
                   <div class="place-inner-rating">
                       <div class="place-inner-contain">
                           <i class="fa-regular fa-star" aria-hidden="true"></i>
                           <span class="place-inner-rating-sr">
                               Рейтинг
                               <span>4.6</span>
                           </span>
                           <span class="place-inner-rating-count"> (12 отзывов)</span>
                       </div>
                   </div>
                   <div class="place-inner-working-hours">
                       <div class="place-inner-working-hours-contain">
                           <span class="place-inner-working-hours-now-status fl-open">Открыто</span>
                       </div>
                   </div>
                   <div class="place-inner-price">
                       <span>~@String.Format("{0:N0}", item.Price).Replace(",", " ")₽</span>
                   </div>
               </div>
           </div>
       </div>
        }
    </div>
