@model IEnumerable<WebStoreMap.Models.ViewModels.geodan.CountryInformationViewModel>

@{
    ViewBag.Title = "Страны";
}

@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<section class="section-content">
    <div class="container container-content" style=" margin-bottom: 40px;min-height: 500px;">
        <div class="row">
            <div class="col-lg-4" id="addProductBlockMobile">
                <div class="card addProductCard">
                    <div class="card-body addProductCardBody">
                        <h5 class="card-title ">Добавление страны</h5>
                        <p class="card-text">Чтобы добавить новую страну, которого еще нет на сайте, создайте новую карточку страны и заполните параметры. </p>
                        <center>@Html.ActionLink("Добавить новую страну", "AddСountry", "", new { @class = "btn btn-add" })</center>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="allProductsCardBlock">
                    <div class="card allProductsCard">
                        <div class="card-header allProductsCardHeader" id="allProductsCardHeaderDesktop">
                            Страны
                        </div>
                        <div class="card-header allProductsCardHeader" id="allProductsCardHeaderMobile">
                            Страны
                        </div>
                    </div>
                    @foreach (var item in ViewBag.OnePageOfCountryInfo)
                    {
                        <div class="card mb-3 allProductsCardItem">
                            <div class="row g-0">
                                <div class="col-md-4 " style="padding-left:0; padding-right:0">
                                    <a href="/admin/Sections/EditСountry/@item.CountryInformationId">
                                        @if (@item.ImageName == null)
                                        {
                                            <img src="~/Content/img/no_image_big.png" style="width: 100%; height: 100%;"/> 
                                        }

                                        else
                                        {
                                            <img src="/Images/Uploads/Countries/@item.CountryInformationId/Thumbs/@item.ImageName" style="width: 100%; height: 100%; " />
                                        }
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="row" style="height:100%; margin-right: 0 !important; margin-left: 0;">
                                            <div class="col-sm-9 p-3 ">
                                                <h5 class="card-title CardOfProductTitle">@item.CountryName</h5>
                                            </div>
                                            <div class="col-3 p-3 " id="editeDeliteBlockDesktop" style=" padding: 0px !important; ">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">@Html.ActionLink("Изменить", "EditСountry", new { Id = item.CountryInformationId }, new { @class = "btn btn-edit" })</li>
                                                    <li class="list-group-item">@Html.ActionLink("Регионы", "Regions", new { CountryId = item.CountryInformationId }, new { @class = "btn btn-edit" })</li>
                                                    <li class="list-group-item">@Html.ActionLink("Удалить", "DeleteCountry", new { Id = item.CountryInformationId }, new { @class = "btn btn-delete " })</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-9 p-3" id="editeDeliteBlockMobile" style=" padding: 0px !important; ">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">@Html.ActionLink("Изменить", "EditCountry", new { Id = item.CountryInformationId }, new { @class = "btn btn-edit" })</li>
                                                    <li class="list-group-item">@Html.ActionLink("Регионы", "Regions", new { CountryId = item.CountryInformationId }, new { @class = "btn btn-edit" })</li>
                                                    <li class="list-group-item">@Html.ActionLink("Удалить", "DeleteCountry", new { Id = item.CountryInformationId }, new { @class = "btn btn-delete " })</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-4" id="addProductBlock">
                <div class="card addProductCard">
                    <div class="card-body addProductCardBody">
                        <h5 class="card-title ">Добавление страны</h5>
                        <p class="card-text">Чтобы добавить новую страну, которого еще нет на сайте, создайте новую карточку страны и заполните параметры. </p>
                        <center>@Html.ActionLink("Добавить новую страну", "AddСountry", "", new { @class = "btn btn-add" })</center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <center>@Html.PagedListPager((IPagedList)ViewBag.OnePageOfCountryInfo, page => Url.Action("Сountries", new { page }))</center>
</section>


@section Scripts
{

    <script>
        $(function () {
            /*-----------------------------------------------------------*/
            /* Confirm page deletion */
            $("a.delete").click(function () {
                if (!confirm("Подтвердите удаление страницы")) return false;
            });
            /*-----------------------------------------------------------*/
        });
    </script>
}

